h1 {
  color: white;
  text-align: center;
  background-color: black;
}

h3 {
  text-align: center;
  font-weight: bold;
}

.well {
  font-size: medium;
  background-color: aliceblue;
}

p[class^="definition"] {
  display: none;
}

body {
  background-color: rgb(22, 120, 206);
}